@()
<!DOCTYPE html>
<html>
<head>
    <title> Sydney Java Community </title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="http://code.jquery.com/jquery-2.0.0.js" type="text/javascript"></script>
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" type="text/css">
    <script type="text/javascript">
            $(document).ready(function() {
            $('#responsive-menu-button').sidr({
            name: 'sidr-main',
            source: '#navigation'
            });
            });
    </script>
</head>
<body>
    <header>
        <div class="content">
            <img src="@routes.Assets.at("images/SydneyJugLogo.png")">
            <h1> Sydney Java Community </h1>
        </div>
    </header>
    <nav>
        <div class="content">
            <ul>
                <li> <a href="#download"> Home </a> </li> <li> <a href="#getstarted"> About the SJC </a> </li>
                <li> <a href="#usage"> Events </a> </li>
                <li> <a href="#documentation"> Members </a> </li>
                <li> <a href="#themes"> Quizz </a> </li>
            </ul>
            <span class="clear"></span>
        </div>
    </nav>

    <div class="content">

        <div id="mainContent">
            <article>
                <div class="mini_calendar"> <div class="month"> Apr'13 </div> <div class="day"> 22 </div> </div>
                <h3> The SJC is born! </h3>
                <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac velit eget orci tempor luctus. Aenean ac nibh nibh. Integer ut massa nisl, sed facilisis nisi. Nulla vitae dui leo, sed consectetur odio. Aenean consectetur mattis nisl, vitae molestie nisl blandit id. Cras eu velit nec arcu tempus consequat id vel dui. Pellentesque dui ante, luctus ut imperdiet sit amet, faucibus quis ante. Nam pulvinar ligula nec leo dapibus in pulvinar velit mollis. Mauris sed sapien a elit vulputate viverra. Donec accumsan feugiat sem ac consectetur. Nunc sagittis posuere dolor a laoreet.
                    <br />
                        Morbi sodales, nulla sit amet aliquet porttitor, odio nibh pulvinar diam, sed porttitor magna felis in nisl. Vivamus vestibulum eros vel dolor facilisis rhoncus. Proin vulputate ligula quis eros pretium euismod. Morbi aliquam turpis a mi interdum porta. Etiam suscipit, elit quis fermentum viverra, nulla lorem iaculis leo, eget vestibulum nunc ipsum in nulla. Curabitur non odio massa, ut rhoncus mauris. Praesent congue ultricies sem quis ullamcorper. In at arcu odio, ac dictum felis. Curabitur ultricies dapibus erat. Nam ac mi ante, ac aliquet augue. Phasellus egestas nisl vitae mi elementum lobortis. Proin quis luctus nisl. Aliquam cursus ante ut mi consectetur quis porta elit adipiscing. Etiam accumsan luctus purus sit amet semper. Quisque erat metus, tincidunt at mollis sit amet, condimentum sed nunc. Nam fringilla lorem non erat sagittis id fringilla elit convallis.
                </div>
            </article>

        </div>


        <div id="leftMenu">
            <aside id="sponsors">
                <h3> Sponsors </h3>
                <div>
                    <a id="jetbrains" href="http://www.jetbrains.com/idea/features/javascript.html" alt="Java IDE with advanced HTML/CSS/JS editor for hardcore web-developers" title="Java IDE with advanced HTML/CSS/JS editor for hardcore web-developers">
                        <span id="ideaShortText">Developed with</span>
                        <span id="ideaLongText">Java IDE with advanced HTML/CSS/JS<br>editor for hardcore web-developers</span>
                    </a>

                    <a href="http://zeroturnaround.com/" title="ZeroTurnaround"><img src="@routes.Assets.at("images/logo-zt.png")"></a>
                    <a href="http://www.genuitec.com/products.html" title="ZeroTurnaround"><img src="@routes.Assets.at("images/myEclipse-logo.jpg")"></a>
                </div>
            </aside>
            <aside id="latestPosts">
                <h3> Latest Posts </h3>
                <div>
                    <a href="/"> The SJC is born! </a>
                </div>
            </aside>
        </div>

        <footer class="clear"></footer>
    </div>
</body>
</html>